<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="/fragments/head.html">

<body class="sb-nav-fixed">

    <form action="/api/salvaOS">
        <select class="form-control" name="idPet">
            <option th:each="pet : ${pets}"
                    th:value="${pet.id}"
                    th:text="${pet.nome}"></option>
        </select>
        <select class="form-control" name="idServico">
            <option th:each="servico : ${servicos}"
                    th:value="${servico.id}"
                    th:text="${servico.nome}"></option>
        </select>
        <select class="form-control" name="valorServico">
            <option th:each="servico : ${servicos}"
                    th:value="${servico.valor}"
                    th:text="${servico.valor}"></option>
        </select>
        <input type="submit" value="save"></input>
    </form>

</body>
</html>