<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="/fragments/head.html"><!--chama partes padrao de um site-->

<body class="sb-nav-fixed">

<div style="width: 100%; display:flex; justify-content: center; align-items: center; font-family: var(--bs-font-sans-serif); ">

    <div style="margin: auto">
        <span style="padding-left: 45%; font-weight: bolder;font-size: 36px"><img  style=" border: 2px solid black; border-radius: 100px;filter:  saturate(50%) grayscale(100%); margin-left: auto;margin-right: auto" src="../../static/assets/img/dog.png" alt="IpetShop.com" width=10% height=10% ></span>

        <br>
        <span style="margin-left: 34%; width: 100%; padding: 10px; font-weight: bolder;font-size: 36px">IpetSHOP</span>
        <br>
        <div style="border: 2px solid black ; border-radius: 15px">
            <span style="padding: 10px; font-weight: bolder;font-size: 36px">Ordem Serviço gerada</span><br>
            <span style="padding: 10px; font-weight: bolder;font-size: 24px">Nome do Pet:</span>
            <span style="padding: 10px; font-size: 24px" th:text="${ordem.idPet}"></span><br>
            <span style="padding: 10px; font-weight: bolder;font-size: 24px">Nome do servico prestado:</span>
            <span style="padding: 10px; font-size: 24px" th:text="${ordem.idServico}"></span><br>
            <span style="padding: 10px; font-weight: bolder;font-size: 24px">Valor cobrado pelo servico:</span>
            <span style="padding: 10px; font-size: 24px" th:text="${ordem.valorServico}"></span><br>
        </div>
    </div>
</div>

<script src="/js/ordem_view.js"></script>


</body>
</html>