<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="/fragments/head.html"><!--chama partes padrao de um site-->

<body class="sb-nav-fixed">

<div style="width: 100%; display:grid; justify-content: center; align-items: center">

    <div>
        <img src="../../static/assets/img/dog.png">
    </div>

    <div style="margin: auto; display: column">
        <span style="padding: 10px; font-weight: bolder;font-size: 36px">Ordem Serviço gerada IpetSHOP </span><br/>
        <div style="justify-content: center; align-items: center">
            <span style="font-weight: bolder;font-size: 24px">Nome do Pet:</span>
            <span style="font-size: 24px" th:text="${ordem.idPet}"></span><br/>
            <span style="font-weight: bolder;font-size: 24px">Nome do servico prestado:</span>
            <span style="font-size: 24px" th:text="${ordem.idServico}"></span><br/>
            <span style="font-weight: bolder;font-size: 24px">Valor cobrado pelo servico:</span>
            <span style="font-size: 24px" th:text="${ordem.valorServico}"></span><br/>
        </div>
    </div>
</div>

<script src="/js/ordem_view.js"></script>


</body>
</html>